body {
  text-align: center;
}

.header {
  width: 100%;
  height: 80px;
  background-color: blue;
  position: absolute;
}

p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: arial;
  color: white;
}

.sidebar {
  margin-top: 80px;
  height: 90%;
  width: 150px;
  float: left;
  position: absolute;
  background-color: orange;
  padding: 10px;
}

form {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
}

input, .submit {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50px;
  height: 20px;
  font-weight: bold;
}

.submit {
  border: none;
  background-color: black;
  color: white;
  width: 50px;
  height: 30px;
}

.submit:hover {
  border: 1px solid white;
}

.pad {
  position: absolute;
  width: 800px;
  height: 800px;
  top: 30%;
  left: 40%;
  margin: -100px 0 0 -180px;
}
